[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
bumpversion = "*"
wheel = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
pytest = "*"
pytest-runner = "*"
PyInstaller = "*"
Sphinx = "*"
twine = "*"
pylint = "*"
black = "*"

[packages]
xcv = {path = ".",editable = true}
click = "*"
pyserial = "*"

[pipenv]
allow_prereleases = true
